<section>
  <div class="wrapper">
    <div>
      <div>
        <h1>Build your audience and grow your brand</h1>
        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus repudiandae veritatis consectetur dignissimos corrupti. 
          Minima nam accusantium ratione eveniet quis numquam possimus? Expedita atque officiis quam, mollitia incidunt omnis voluptas.</h2>
      </div>
      <div>
        <button class="main-button">Get stated</button>
        <button class="secondary-button">Watch video</button>
      </div>
    </div>
  
    <div>
      helo
    </div>
  </div>
</section>
