$tab-border: 0 2rem 0 0;

section {
  padding: var(--main-padding);
}

div {
  background-color: #a1a1a1;
  display: flex;
  padding: 1rem;
  border-radius: var(--round-border) var(--round-border) 0 0;
}

button {
  background-color: var(--tab-background);
  padding: 1rem;
  border-radius: $tab-border;
}
