nav {
  container: navegator / inline-size;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  padding-top: calc(-3rem + clamp(0rem, 4dvw + 1rem, 10rem));
}

.info {
  display: inherit;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 1cqi;
}

.icon-container {
  width: var(--icon-size);
  display: flex;
}
