nav {
  container: navegator / inline-size;
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
}

.info {
  display: inherit;
  align-items: center;

  p {
    font-size: var(--main-font-size);
  }
}

ul {
  display: flex;
  align-items: center;
  gap: 1cqi;

  li, button {
    font-size: var(--main-font-size);
  }
}

svg {
  width: 5cqh;
}

@container navegator (min-width: 500px) {
  .info {
    background-color: red;
  }
}
