nav {
  container: navegator / inline-size;
  display: flex;
  justify-content: space-between;
}

.info {
  display: inherit;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 1cqi;
}

.icon-container {
  width: var(--icon-size);
  display: flex;

  svg {
    height: 100%;
  }
}

@container navegator (min-width: 500px) {
  .info {
    background-color: red;
  }
}
