<nav>
  <div class="info">
    <div class="icon-container">
      <svg viewBox="0 0 30 18" preserveAspectRatio="xMinYMin">
        <path 
          id="cloud"
          d="M3 18 26 18C29 18 30 17 30 14Q30 8 22 7A2 2 90 008 8Q0 8 0 14C0 17 1 18 4 18M16 16C16 17 14 17 14 16L14 8 12 
            10C11 11 10 10 11 9L14 6C15 5 15 5 16 6L19 9C20 10 19 11 18 10L16 8Z"
          fill="red" 
        />
        <path 
          id="sub-cloud"
          d="M3 18 26 18M16 16C16 17 14 17 14 16L14 8 12 10C11 11 10 10 11 9L3 18 26 18 19 9C20 10 19 11 18 10L16 8Z"
        />
      </svg>
    </div>
    <p>Buy00</p>
  </div>
  <div class="wrapper">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Features</li>
      <li>Pages</li>
      <li>Blog</li>
      <li>Cart(0)</li>
    </ul>
    <button type="button" class="nav-button">Sign in</button>
  </div>
</nav>