:root {
  --main-theme: #ce9aff;
  --secondary-color: #a3a3a3;
  --nav-color: #b569d377;
  --nav-button-color: #ffffff;
  --nav-font-color: #ffffff;

  --tab-container-background: #d8d8d8;
  --tab-background: #ececec;
}
