@import "responsive";

:root {
  --main-font-size: 1rem;
  --main-padding: 0 13em;
  --round-border: 2.5rem;

  @include large-desktop-size {
    --main-font-size: 1.3rem;
    --main-padding: 0 10em;
    --round-border: 2.3rem;
  }

  @include desktop-size {
    --main-font-size: 1.5rem;
    --main-padding: 0 8em;
    --round-border: 2rem;
  }

  @include tablet-size {
    --main-font-size: 1.8rem;
    --main-padding: 0 5em;
    --round-border: 1.8rem;
  }

  @include phone-size {
    --main-font-size: 2rem;
    --main-padding: 0 2em;
    --round-border: 1.5rem;
  }

  @include slim-phone-size {
    --main-font-size: 2.2rem;
    --main-padding: 0;
    --round-border: 1.3rem;
  }

  --icon-size: calc(5rem - clamp(0rem, 2dvw + 1rem, 0.2rem));
  --tab-padding: calc(2rem - clamp(0.8rem, 2dvw + 0.1rem, 1rem)) calc(-7rem + clamp(0rem, 15dvw + 2rem, 8rem)) 0;
}
