$breakpoint-xs: 550px;
$breakpoint-s: 768px;
$breakpoint-md: 1024px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1900px;

@mixin large-desktop-size {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin desktop-size {
  @media (max-width: $breakpoint-l) {
    @content;
  }
}

@mixin tablet-size {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin phone-size {
  @media (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin slim-phone-size {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}
